.text {
    font-family: "Open Sans Condensed",sans-serif;
    text-decoration: none !important;
}

.text-color {
    color: #1d3d91 !important;
}

.middleInTable {
    text-align: center !important;
    vertical-align: middle !important;
}

.btn-autocomplete-hover {
    background-color: var(--mdb-primary) !important;
    color: var(--mdb-white) !important;
}

.btn-autocomplete:hover, .btn-autocomplete:focus {
    background-color: var(--mdb-primary) !important;
    color: var(--mdb-white) !important;
}


.btn-autocomplete-unhover {
    background-color: var(--mdb-white) !important;
    color: var(--mdb-primary) !important;
}