.text {
    font-family: "Open Sans Condensed",sans-serif;
    text-decoration: none !important;
}

.text-color {
    color: #1d3d91 !important;
}

.middleInTable {
    text-align: center !important;
    vertical-align: middle !important;
}